## 분석하기 좋은데이터 (Tidy data)
### 깔끔한 데이터의 조건
- 데이터 분석 목적에 맞는 데이터를 모아 새로운 표를 만들어야 한다.
- 측정한 값은 행(row)을 구성해야 한다.
- 변수는 열(columns)로 구성해야한다.

# concat 메서드 사용하기

In [3]:
import pandas as pd
df1 = pd.read_csv('../data/concat_1.csv')
df2 = pd.read_csv('../data/concat_2.csv')
df3 = pd.read_csv('../data/concat_3.csv')

In [4]:
print(df1.shape)
df = [df1, df2, df3]
for i in range(3):
    print(df[i])
print(type(df1))

(4, 4)
    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
<class 'pandas.core.frame.DataFrame'>

### concat 메서드에 연결하려는 데이터 프레임을 리스트에 담아 전달하면 연결한 데이터프레임을 반환한다.
### concat 메서드는 데이터프레임을 연결할 때 위에서 아래 방향으로 연결한다.
### df1,2,3,4 모두 열의 이름이 ABCD로 같다. 그래서 데이터 프레임을 연결한 다음에도 열이 그대로 유지된다.

In [5]:
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [6]:
print(row_concat.iloc[3 ,])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

# 데이터프레임에 시리즈 연결하기

In [7]:
new_row_series = pd.Series(['n1','n2','n3','n4'])

### Series를 추가하면 새로운 행으로 추가될 거 같지만 새로운 열이 추가되어 NAN(누락값)이 많이 발생하게 된다.

# 행 1개로 구성된 데이터프레임 생성하여 연결하기

In [8]:
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

# 다양한 방법으로 데이터 연결하기
- 행이 1개라도 반드시 데이터프레임에 담아 연결해야한다.
- 시리즈를 데이터프레임의 새로운 행으로 연결하려면 제대로 되지 않는다.
- 시리즈에는 열 이름이 없기 때문이다.
- 위에서 concat으로 합친 시리즈를 새로운 열로 간주하여 0이라는 이름으로 자동으로 추가가 된것이다.

In [9]:
new_row_df0 = pd.DataFrame([['n1','n2','n3','n4']], columns=['A','B','C','D'])
new_row_df1 = pd.DataFrame(['n1','n2','n3','n4'], columns=['A'])
print('new_row_df0')
print(new_row_df0)
print('-'*60)
print('new_row_df1')
print(new_row_df1)
print('-'*60)

new_row_df2 = pd.DataFrame({
    'n1' : ['1','2','3','4'],
    'n2' : ['4','3','2','1']
},
index = ['0', '1', '2', '3'])
print('new_row_df2')
print(new_row_df2)
print('-'*60)

new_row_df3 = pd.DataFrame({
    'A' : ['n1'],
    'B' : ['n2'],
    'C' : ['n3'],
    'D' : ['n4']
},
index = ['0'])
print('new_row_df3')
print(new_row_df3)
print('-'*60)
print('pd.concat([df1, new_row_df3])')
print(pd.concat([df1, new_row_df3]))

new_row_df0
    A   B   C   D
0  n1  n2  n3  n4
------------------------------------------------------------
new_row_df1
    A
0  n1
1  n2
2  n3
3  n4
------------------------------------------------------------
new_row_df2
  n1 n2
0  1  4
1  2  3
2  3  2
3  4  1
------------------------------------------------------------
new_row_df3
    A   B   C   D
0  n1  n2  n3  n4
------------------------------------------------------------
pd.concat([df1, new_row_df3])
    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [10]:
test_row = pd.DataFrame([['n1','n2','n3','n4']], columns=['A','B','C','D'])
print('test_row')
print(test_row)
print('-'*90)
test_row = pd.DataFrame(['n1','n2','n3','n4'], columns=['A'])
print(test_row)
print('-'*90)

test_row = pd.DataFrame([[1,4],[2,3],[3,2],[4,1]], columns=['n1', 'n2'])
print(test_row)
print('-'*90)

test_row = pd.DataFrame({
    'A' : ['n1'],
    'B' : ['n2'],
    'C' : ['n3'],
    'D' : ['n4'],
},
index=[0])
print(test_row)
print('-'*90)

test_row = pd.DataFrame({
    'A' : ['a1','a2','a3','a4'],
    'B' : ['a11','a12','a13','a14'],
    'C' : ['a22','a22','a23','a24'],
    'D' : ['a31','a32','a33','a34'],
},
index=[0,1,2,3])
print(test_row)
print('-'*90)
print(pd.concat([df1, test_row]))

test_row
    A   B   C   D
0  n1  n2  n3  n4
------------------------------------------------------------------------------------------
    A
0  n1
1  n2
2  n3
3  n4
------------------------------------------------------------------------------------------
   n1  n2
0   1   4
1   2   3
2   3   2
3   4   1
------------------------------------------------------------------------------------------
    A   B   C   D
0  n1  n2  n3  n4
------------------------------------------------------------------------------------------
    A    B    C    D
0  a1  a11  a22  a31
1  a2  a12  a22  a32
2  a3  a13  a23  a33
3  a4  a14  a24  a34
------------------------------------------------------------------------------------------
    A    B    C    D
0  a0   b0   c0   d0
1  a1   b1   c1   d1
2  a2   b2   c2   d2
3  a3   b3   c3   d3
0  a1  a11  a22  a31
1  a2  a12  a22  a32
2  a3  a13  a23  a33
3  a4  a14  a24  a34

# concat
-  한번에 2개 이상의 데이터프레임을 연결할 수 있는 메서드

# append
- 연결할 데이터가 1개라면 append메서드를 사용한다.

In [11]:
single_dat = pd.DataFrame([['n1','n2','n3','n4']], columns = ['A','B','C','D'])

print(df1.append(single_dat))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

C:\Users\admin\AppData\Local\Temp\ipykernel_16984\3846122007.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df1.append(single_dat))

In [12]:
data_dict = {'A' : 'n1','B' : 'n2','C' : 'n3','D' : 'n4',}
print(df1.append(data_dict, ignore_index=True))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

C:\Users\admin\AppData\Local\Temp\ipykernel_16984\2893272526.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df1.append(data_dict, ignore_index=True))

### ignore_index를 True로 지정하면 데이터를 연결한 다음 데이터프레임의 인덱스를 0부터 다시 지정하게 된다.

In [13]:
print(pd.concat([df1, single_dat]))
print('-'*60)
print(pd.concat([df1, single_dat], ignore_index=True))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4
------------------------------------------------------------
    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

### 데이터를 열 방향으로 연결하기  axis=1 또는 변수.concat['추가할 열 이름'] = ['값']
- 행 방향이 아닌 열 방향으로 데이터를 연결하려면 concat의 메서드의 axis의 인자를 1로 지정하면 된다.

- 다음 예시로 d1, d2, d3, d4를 열 방향으로 연결해본다.

In [14]:
col_concat = pd.concat([df1, df2, df3], axis=1)
print('axix = 1')
print(col_concat)
print('-'*90)
print(col_concat['A'])
print('-'*90)
col_concat['new_col_concat']=['n1','n2','n3','n4']
print(col_concat)
print('*'*90)
print('*'*90)
print('*'*90)
print('col_concat = pd.concat([df1,df2,df3], axis=1, ignore_index=True)')
print('행이 중복되었기에 ignore_index=True를 주어 열 이름을 다시 지정해주었다.')
col_concat = pd.concat([df1,df2,df3], axis=1, ignore_index=True)
print(col_concat)
print('*'*90)
print('*'*90)
print('*'*90)
col_concat = pd.concat([df1, df2, df3], ignore_index=True)
print('axix = 0, default')
print(col_concat)
print('-'*90)
print(col_concat['A'])
print('-'*90)
col_concat['new_col_concat']=['n1','n2','n3','n4','n5','n6','n7','n8','n9','n10','n11','n12',]
print(col_concat)

axix = 1
    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11
------------------------------------------------------------------------------------------
    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11
------------------------------------------------------------------------------------------
    A   B   C   D   A   B   C   D    A    B    C    D new_col_concat
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8             n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9             n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10             n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11             n4
******************************************************************************************
******************************************************************************************
******************************************************************************************
col_concat = pd.concat([df1,df2,df3], axis=1, ignore_index=True)
행이 중복되었기에 ignore_index=True를 주어 열 이름을 다시 지정해주었다.
   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11
******************************************************************************************
******************************************************************************************
******************************************************************************************
axix = 0, default
      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11
------------------------------------------------------------------------------------------
0      a0
1      a1
2      a2
3      a3
4      a4
5      a5
6      a6
7      a7
8      a8
9      a9
10    a10
11    a11
Name: A, dtype: object
------------------------------------------------------------------------------------------
      A    B    C    D new_col_concat
0    a0   b0   c0   d0             n1
1    a1   b1   c1   d1             n2
2    a2   b2   c2   d2             n3
3    a3   b3   c3   d3             n4
4    a4   b4   c4   d4             n5
5    a5   b5   c5   d5             n6
6    a6   b6   c6   d6             n7
7    a7   b7   c7   d7             n8
8    a8   b8   c8   d8             n9
9    a9   b9   c9   d9            n10
10  a10  b10  c10  d10            n11
11  a11  b11  c11  d11            n12

# 공통 열과 공통 인덱스만 연결하기

In [24]:
for i in range(3):
    print(df[i].columns)
    
print('-'*60)
df2.columns = ['E','F','G','H']
df3.columns = ['A','C','F','H']

df = [df1, df2, df3]
for i in range(3):
    print(df[i].columns)

Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['E', 'F', 'G', 'H'], dtype='object')
Index(['A', 'C', 'F', 'H'], dtype='object')
------------------------------------------------------------
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['E', 'F', 'G', 'H'], dtype='object')
Index(['A', 'C', 'F', 'H'], dtype='object')

In [25]:
row_concat = pd.concat([df1, df2, df3], axis=0, ignore_index=True)
print(row_concat)
print('-'*60)

row_concat = pd.concat([df1, df2, df3], axis =1)
print(row_concat)

      A    B    C    D    E    F    G    H
0    a0   b0   c0   d0  NaN  NaN  NaN  NaN
1    a1   b1   c1   d1  NaN  NaN  NaN  NaN
2    a2   b2   c2   d2  NaN  NaN  NaN  NaN
3    a3   b3   c3   d3  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   a4   b4   c4   d4
5   NaN  NaN  NaN  NaN   a5   b5   c5   d5
6   NaN  NaN  NaN  NaN   a6   b6   c6   d6
7   NaN  NaN  NaN  NaN   a7   b7   c7   d7
8    a8  NaN   b8  NaN  NaN   c8  NaN   d8
9    a9  NaN   b9  NaN  NaN   c9  NaN   d9
10  a10  NaN  b10  NaN  NaN  c10  NaN  d10
11  a11  NaN  b11  NaN  NaN  c11  NaN  d11
------------------------------------------------------------
    A   B   C   D   E   F   G   H    A    C    F    H
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

### join에 인자로 'inner'을 넣어주면 공통 열만 연결하여 연결해준다.
- 공통된게 없다면 Empty DataFrame가 나온다.
- outer가 default이다.

In [28]:
print(pd.concat([df1, df2, df3], join='inner'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [30]:
print(df1.columns)
print(df3.columns)
print(pd.concat([df1, df3], join='inner'))

Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['A', 'C', 'F', 'H'], dtype='object')
     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [32]:
df1.index = [0, 1, 2, 3]
df2.index = [4, 5, 6, 7]
df3.index = [0, 2, 5, 7]

print(df1)
print('-'*90)
print(df2)
print('-'*90)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
------------------------------------------------------------------------------------------
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
------------------------------------------------------------------------------------------
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [33]:
print(pd.concat([df1, df2, df3], axis=1))

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [34]:
print(pd.concat([df1, df3], axis=1, join='inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

# merge 메서드 사용하기

In [35]:
person = pd.read_csv('../data/survey_person.csv')
print(person)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [36]:
site = pd.read_csv('../data/survey_site.csv')
print(site)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [37]:
survey = pd.read_csv('../data/survey_survey.csv')
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [38]:
visited = pd.read_csv('../data/survey_visited.csv')
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [45]:
visited_subset = visited.loc[[0, 2, 6],]
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

### merge 메서드는 기본적으로 내부 조인을 실행한다.
- 메서드를 사용한 데이터 프레임을 왼쪽으로 지정한다.
- 첫 번째 인잣값으로 지정한 데이터프레임을 오른쪽으로 지정한다.
- left_on, right_on 인자는 값이 일치해야 할 왼쪽과 오른쪽 데이터프레임의 열을 지정한다.
- 즉 왼쪽 데이터프레임의 열과 오른쪽 데이터프레임의 열의 값이 일치하면 왼쪽 데이터프레임을 기준으로 연결한다.

In [47]:
o2o_merge = site.merge(visited_subset, left_on='name', right_on='site')
print(site)
print('-'*60)
print(visited_subset)
print('-'*60)
print(o2o_merge)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
------------------------------------------------------------
   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14
------------------------------------------------------------
    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [52]:
print(site.columns)
print(site.shape)
print(visited.columns)
print(visited.shape)

Index(['name', 'lat', 'long'], dtype='object')
(3, 3)
Index(['ident', 'site', 'dated'], dtype='object')
(8, 3)

In [54]:
print(site)
print('-'*60)
print(visited)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
------------------------------------------------------------
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [48]:
o2o_merge = site.merge(visited, left_on='name', right_on='site')
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [55]:
ps = person.merge(survey, left_on='ident', right_on='person')
vs = visited.merge(survey, left_on='ident', right_on='taken')

print(ps)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25

In [59]:
print('person')
print(person)
print('-'*60)
print('survey')
print(survey)
print('-'*60)
print('visited')
print(visited)

person
      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth
------------------------------------------------------------
survey
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25
------------------------------------------------------------
visited
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [57]:
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [62]:
print(pd.concat([survey['taken'], visited['ident']], join='inner', ignore_index=True))

0     619
1     619
2     622
3     622
4     734
5     734
6     734
7     735
8     735
9     735
10    751
11    751
12    751
13    752
14    752
15    752
16    752
17    837
18    837
19    837
20    844
21    619
22    622
23    734
24    735
25    751
26    752
27    837
28    844
dtype: int64