# 열과 피벗
- 데이터프레임의 열은 파이썬 변수와 비슷한 역할을 한다.
- 데이터프레임의 열 자체가 어떤 값을 의미한다.
- 데이터프레임의 열이 옆으로 길게 늘어선 형태가 되는데 이것을 넓은 데이터라고 한다.

# melt
- 데이터프레임을 깔끔한 데이터로 정리하는 데 유용한 melt 메서드를 제공한다.
- melt 메서드는 지정한 열의 데이터를 모두 행으로 정리해준다.

## melt 메서드의 인자
- id_vars : 위치를 그대로 유지할 열의 이름을 지정한다.
- value_vars : 행으로 위치를 변경할 열의 이름을 지정한다.
- var_name : value_vars로 위치를 변경한 열의 이름을 지정한다.
- value_name : var_name으로 위치를 변경한 열의 데이터를 저장한 열의 이름을 지정한다.

# 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [4]:
import pandas as pd
pew = pd.read_csv('../data/pew.csv')
print(pew.shape)
print(pew.columns)
print('총 열의 갯수는 : ', pew.count())
print('-'*60)
print(pew.head(n=10))

(18, 11)
Index(['religion', '<$10k', '$10-20k', '$20-30k', '$30-40k', '$40-50k',
       '$50-75k', '$75-100k', '$100-150k', '>150k', 'Don't know/refused'],
      dtype='object')
총 열의 갯수는 :  religion              18
<$10k                 18
$10-20k               18
$20-30k               18
$30-40k               18
$40-50k               18
$50-75k               18
$75-100k              18
$100-150k             18
>150k                 18
Don't know/refused    18
dtype: int64
------------------------------------------------------------
                  religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  \
0                 Agnostic     27       34       60       81       76
1                  Atheist     12       27       37       52       35
2                 Buddhist     27       21       30       34       33
3                 Catholic    418      617      732      670      638
4       Don’t know/refused     15       14       15       11       10
5         Evangelical Prot    575      869     1064      982      881
6                    Hindu      1        9        7        9       11
7  Historically Black Prot    228      244      236      238      197
8        Jehovah's Witness     20       27       24       24       21
9                   Jewish     19       19       25       25       30

   $50-75k  $75-100k  $100-150k  >150k  Don't know/refused
0      137       122        109     84                  96
1       70        73         59     74                  76
2       58        62         39     53                  54
3     1116       949        792    633                1489
4       35        21         17     18                 116
5     1486       949        723    414                1529
6       34        47         48     54                  37
7      223       131         81     78                 339
8       30        15         11      6                  37
9       95        69         87    151                 162

In [5]:
print(pew.iloc[0:11, :])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  \
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651

    $50-75k  $75-100k  $100-150k  >150k  Don't know/refused
0       137       122        109     84                  96
1        70        73         59     74                  76
2        58        62         39     53                  54
3      1116       949        792    633                1489
4        35        21         17     18                 116
5      1486       949        723    414                1529
6        34        47         48     54                  37
7       223       131         81     78                 339
8        30        15         11      6                  37
9        95        69         87    151                 162
10     1107       939        753    634                1328

In [6]:
print(pew.iloc[:, 0:6])
print('*'*70)
pew_long = pd.melt(pew, id_vars='religion')
print(pew_long)
print('*'*70)
print(pew_long.iloc[:30])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341
**********************************************************************
                  religion            variable  value
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]
**********************************************************************
                   religion variable  value
0                  Agnostic    <$10k     27
1                   Atheist    <$10k     12
2                  Buddhist    <$10k     27
3                  Catholic    <$10k    418
4        Don’t know/refused    <$10k     15
5          Evangelical Prot    <$10k    575
6                     Hindu    <$10k      1
7   Historically Black Prot    <$10k    228
8         Jehovah's Witness    <$10k     20
9                    Jewish    <$10k     19
10            Mainline Prot    <$10k    289
11                   Mormon    <$10k     29
12                   Muslim    <$10k      6
13                 Orthodox    <$10k     13
14          Other Christian    <$10k      9
15             Other Faiths    <$10k     20
16    Other World Religions    <$10k      5
17             Unaffiliated    <$10k    217
18                 Agnostic  $10-20k     34
19                  Atheist  $10-20k     27
20                 Buddhist  $10-20k     21
21                 Catholic  $10-20k    617
22       Don’t know/refused  $10-20k     14
23         Evangelical Prot  $10-20k    869
24                    Hindu  $10-20k      9
25  Historically Black Prot  $10-20k    244
26        Jehovah's Witness  $10-20k     27
27                   Jewish  $10-20k     19
28            Mainline Prot  $10-20k    495
29                   Mormon  $10-20k     40

In [7]:
print(pew_long.index)

RangeIndex(start=0, stop=180, step=1)

In [8]:
df = pd.DataFrame({
    'A' : ['a1','a2','a3','a4'],
    'B' : ['b1','b2','b3','b4'],
    'C' : ['c1','c2','c3','c4'],
    'D' : ['d1','d2','d3','d4'],
})

print(df)

print('*'*60)

print(df.melt(id_vars='A'))

    A   B   C   D
0  a1  b1  c1  d1
1  a2  b2  c2  d2
2  a3  b3  c3  d3
3  a4  b4  c4  d4
************************************************************
     A variable value
0   a1        B    b1
1   a2        B    b2
2   a3        B    b3
3   a4        B    b4
4   a1        C    c1
5   a2        C    c2
6   a3        C    c3
7   a4        C    c4
8   a1        D    d1
9   a2        D    d2
10  a3        D    d3
11  a4        D    d4

In [9]:
print(df.melt(id_vars=['A','B']))
print('*'*60)
print(df.melt(id_vars=['A','B'], value_vars='C'))
print('*'*60)
print(df.melt(id_vars=['A','B'], value_vars='C',  var_name='var_test', value_name='value_test'))

    A   B variable value
0  a1  b1        C    c1
1  a2  b2        C    c2
2  a3  b3        C    c3
3  a4  b4        C    c4
4  a1  b1        D    d1
5  a2  b2        D    d2
6  a3  b3        D    d3
7  a4  b4        D    d4
************************************************************
    A   B variable value
0  a1  b1        C    c1
1  a2  b2        C    c2
2  a3  b3        C    c3
3  a4  b4        C    c4
************************************************************
    A   B var_test value_test
0  a1  b1        C         c1
1  a2  b2        C         c2
2  a3  b3        C         c3
3  a4  b4        C         c4

# 2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [10]:
billboard = pd.read_csv('../data/billboard.csv')
print(billboard.shape)
print('*'*60)
print(billboard.columns)
print('*'*60)
print(billboard.index)
print('*'*60)
print('*'*60)
print('*'*60)
print(billboard)

(317, 81)
************************************************************
Index(['year', 'artist', 'track', 'time', 'date.entered', 'wk1', 'wk2', 'wk3',
       'wk4', 'wk5', 'wk6', 'wk7', 'wk8', 'wk9', 'wk10', 'wk11', 'wk12',
       'wk13', 'wk14', 'wk15', 'wk16', 'wk17', 'wk18', 'wk19', 'wk20', 'wk21',
       'wk22', 'wk23', 'wk24', 'wk25', 'wk26', 'wk27', 'wk28', 'wk29', 'wk30',
       'wk31', 'wk32', 'wk33', 'wk34', 'wk35', 'wk36', 'wk37', 'wk38', 'wk39',
       'wk40', 'wk41', 'wk42', 'wk43', 'wk44', 'wk45', 'wk46', 'wk47', 'wk48',
       'wk49', 'wk50', 'wk51', 'wk52', 'wk53', 'wk54', 'wk55', 'wk56', 'wk57',
       'wk58', 'wk59', 'wk60', 'wk61', 'wk62', 'wk63', 'wk64', 'wk65', 'wk66',
       'wk67', 'wk68', 'wk69', 'wk70', 'wk71', 'wk72', 'wk73', 'wk74', 'wk75',
       'wk76'],
      dtype='object')
************************************************************
RangeIndex(start=0, stop=317, step=1)
************************************************************
************************************************************
************************************************************
     year            artist                    track  time date.entered  wk1  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08   81
3    2000      3 Doors Down                    Loser  4:24   2000-10-21   76
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15   57
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29   86
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01   85
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18   95
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02   99
316  2000   matchbox twenty                     Bent  4:12   2000-04-29   60

      wk2   wk3   wk4   wk5  ...  wk67  wk68  wk69  wk70  wk71  wk72  wk73  \
0    82.0  72.0  77.0  87.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1    87.0  92.0   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2    70.0  68.0  67.0  66.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3    76.0  72.0  69.0  67.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    34.0  25.0  17.0  17.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
..    ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...   ...
312  83.0  77.0  74.0  83.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
313  83.0  83.0  82.0  81.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
314  94.0  91.0  85.0  84.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
315  99.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
316  37.0  29.0  24.0  22.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

     wk74  wk75  wk76
0     NaN   NaN   NaN
1     NaN   NaN   NaN
2     NaN   NaN   NaN
3     NaN   NaN   NaN
4     NaN   NaN   NaN
..    ...   ...   ...
312   NaN   NaN   NaN
313   NaN   NaN   NaN
314   NaN   NaN   NaN
315   NaN   NaN   NaN
316   NaN   NaN   NaN

[317 rows x 81 columns]

In [11]:
print(billboard.iloc[0:5, 0:16].interpolate().fillna(method='ffill'))

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0  72.0  76.5  75.5  76.5   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0

In [12]:
print(billboard.iloc[0:5, 0:16])
print('*'*60)
print(billboard.iloc[0:5, 0:16].melt(id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating'))

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0
************************************************************
    year        artist                    track  time date.entered  week  \
0   2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk1
1   2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk1
2   2000  3 Doors Down               Kryptonite  3:53   2000-04-08   wk1
3   2000  3 Doors Down                    Loser  4:24   2000-10-21   wk1
4   2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   wk1
5   2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk2
6   2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk2
7   2000  3 Doors Down               Kryptonite  3:53   2000-04-08   wk2
8   2000  3 Doors Down                    Loser  4:24   2000-10-21   wk2
9   2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   wk2
10  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk3
11  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk3
12  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   wk3
13  2000  3 Doors Down                    Loser  4:24   2000-10-21   wk3
14  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   wk3
15  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk4
16  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk4
17  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   wk4
18  2000  3 Doors Down                    Loser  4:24   2000-10-21   wk4
19  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   wk4
20  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk5
21  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk5
22  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   wk5
23  2000  3 Doors Down                    Loser  4:24   2000-10-21   wk5
24  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   wk5
25  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk6
26  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk6
27  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   wk6
28  2000  3 Doors Down                    Loser  4:24   2000-10-21   wk6
29  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   wk6
30  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk7
31  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk7
32  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   wk7
33  2000  3 Doors Down                    Loser  4:24   2000-10-21   wk7
34  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   wk7
35  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk8
36  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk8
37  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   wk8
38  2000  3 Doors Down                    Loser  4:24   2000-10-21   wk8
39  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   wk8
40  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk9
41  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk9
42  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   wk9
43  2000  3 Doors Down                    Loser  4:24   2000-10-21   wk9
44  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   wk9
45  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk10
46  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk10
47  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk10
48  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk10
49  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk10
50  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk11
51  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk11
52  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk11
53  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk11
54  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk11

    rating
0     87.0
1     91.0
2     81.0
3     76.0
4     57.0
5     82.0
6     87.0
7     70.0
8     76.0
9     34.0
10    72.0
11    92.0
12    68.0
13    72.0
14    25.0
15    77.0
16     NaN
17    67.0
18    69.0
19    17.0
20    87.0
21     NaN
22    66.0
23    67.0
24    17.0
25    94.0
26     NaN
27    57.0
28    65.0
29    31.0
30    99.0
31     NaN
32    54.0
33    55.0
34    36.0
35     NaN
36     NaN
37    53.0
38    59.0
39    49.0
40     NaN
41     NaN
42    51.0
43    62.0
44    53.0
45     NaN
46     NaN
47    51.0
48    61.0
49    57.0
50     NaN
51     NaN
52    51.0
53    61.0
54    64.0

In [14]:
billboard_long = billboard.iloc[0:5, 0:16].melt(id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating')
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

# ebola 데이터 집합 살펴보기

In [17]:
ebola = pd.read_csv('../data/country_timeseries.csv')
print(ebola.columns)
print(ebola)

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')
           Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0      1/5/2015  289        2776.0            NaN            10030.0
1      1/4/2015  288        2775.0            NaN             9780.0
2      1/3/2015  287        2769.0         8166.0             9722.0
3      1/2/2015  286           NaN         8157.0                NaN
4    12/31/2014  284        2730.0         8115.0             9633.0
..          ...  ...           ...            ...                ...
117   3/27/2014    5         103.0            8.0                6.0
118   3/26/2014    4          86.0            NaN                NaN
119   3/25/2014    3          86.0            NaN                NaN
120   3/24/2014    2          86.0            NaN                NaN
121   3/22/2014    0          49.0            NaN                NaN

     Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  \
0              NaN            NaN                 NaN          NaN
1              NaN            NaN                 NaN          NaN
2              NaN            NaN                 NaN          NaN
3              NaN            NaN                 NaN          NaN
4              NaN            NaN                 NaN          NaN
..             ...            ...                 ...          ...
117            NaN            NaN                 NaN          NaN
118            NaN            NaN                 NaN          NaN
119            NaN            NaN                 NaN          NaN
120            NaN            NaN                 NaN          NaN
121            NaN            NaN                 NaN          NaN

     Cases_Mali  Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  \
0           NaN         1786.0             NaN              2977.0
1           NaN         1781.0             NaN              2943.0
2           NaN         1767.0          3496.0              2915.0
3           NaN            NaN          3496.0                 NaN
4           NaN         1739.0          3471.0              2827.0
..          ...            ...             ...                 ...
117         NaN           66.0             6.0                 5.0
118         NaN           62.0             NaN                 NaN
119         NaN           60.0             NaN                 NaN
120         NaN           59.0             NaN                 NaN
121         NaN           29.0             NaN                 NaN

     Deaths_Nigeria  Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  \
0               NaN             NaN                  NaN           NaN
1               NaN             NaN                  NaN           NaN
2               NaN             NaN                  NaN           NaN
3               NaN             NaN                  NaN           NaN
4               NaN             NaN                  NaN           NaN
..              ...             ...                  ...           ...
117             NaN             NaN                  NaN           NaN
118             NaN             NaN                  NaN           NaN
119             NaN             NaN                  NaN           NaN
120             NaN             NaN                  NaN           NaN
121             NaN             NaN                  NaN           NaN

     Deaths_Mali
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
117          NaN
118          NaN
119          NaN
120          NaN
121          NaN

[122 rows x 18 columns]

In [19]:
print(ebola.iloc[:5,[0,1,2,3,10,11]])

         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [21]:
ebola_long = pd.melt(ebola, id_vars=['Date', 'Day'])
print(ebola_long.head())

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

# 열 이름 나누고 데이터 프레임에 추가하기

# split 메서드로 열 이름 분리하기
- split메서드에 나누고 싶은 문자를 넣어주면 분리가 가능해진다.
- ex) Cases_Guinea를 split에 '-'을 인자값으로 전달하면 Cases와 Guinea로 분리가 된다.
- Series.str.split('_')이런 식으로 시리즈는 문자를 나눈다.

In [58]:
print(ebola_long.columns)
variable_split = ebola_long['variable'].str.split('_')
print(variable_split)
print('*'*60)
print(ebola_long[:5])

Index(['Date', 'Day', 'variable', 'value'], dtype='object')
0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
             ...
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object
************************************************************
         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [64]:
print(type(variable_split))
print(variable_split)
print('**'*30)
print(type(variable_split[0]))
print(variable_split[0])

<class 'pandas.core.series.Series'>
0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
             ...
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object
************************************************************
<class 'list'>
['Cases', 'Guinea']

# Series.str.get(0)
- get메서드를 이용하여 0, 1번째등의 값을 추출하는 방법을 알아본다

In [80]:
status_variable= variable_split.str.get(0)
print(status_variable)
print('-'*60)
print(status_variable[:5])
print('-'*60)
print(status_variable[-5:])

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
         ...
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object
------------------------------------------------------------
0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
------------------------------------------------------------
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object

In [81]:
country_variable = variable_split.str.get(1)
print(country_variable)
print('-'*60)
print(country_variable[:5])
print('-'*60)
print(country_variable[-5:])

0       Guinea
1       Guinea
2       Guinea
3       Guinea
4       Guinea
         ...
1947      Mali
1948      Mali
1949      Mali
1950      Mali
1951      Mali
Name: variable, Length: 1952, dtype: object
------------------------------------------------------------
0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object
------------------------------------------------------------
1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object

In [82]:
ebola_long['status'] = status_variable
ebola_long['country'] = country_variable
print(ebola_long)

            Date  Day      variable   value  status country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea
...          ...  ...           ...     ...     ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali

[1952 rows x 6 columns]

# concat 메서드를 응용하여 데이터프레임에 열 추가하기

# str.split('-', expand=True)
- expand : 분할된 문자열을 별도의 열로 확장한다.
- True이면 차원 확장 DataFrame/MultiIndex를 반환합니다.
- False이면 문자열 목록이 포함된 Series/Index를 반환합니다.

### concat을 이용하면 더욱 더 간단하게 할 수 있다.

In [93]:
variable_split = ebola_long.variable.str.split('_', expand=True)
print(variable_split.head())
variable_split.columns = ['status', 'country']
print(variable_split.head())
print('*'*60)
ebola_parsed = pd.concat([ebola_long, variable_split], axis=1)
print(ebola_parsed)

       0       1
0  Cases  Guinea
1  Cases  Guinea
2  Cases  Guinea
3  Cases  Guinea
4  Cases  Guinea
  status country
0  Cases  Guinea
1  Cases  Guinea
2  Cases  Guinea
3  Cases  Guinea
4  Cases  Guinea
************************************************************
            Date  Day      variable   value  status country  status country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea   Cases  Guinea
...          ...  ...           ...     ...     ...     ...     ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali

[1952 rows x 8 columns]

# 기상 데이터의 여러 열을 하나로 정리하기

In [95]:
weather = pd.read_csv('../data/weather.csv')
print(weather.iloc[:5, :])

        id  year  month element  d1    d2    d3  d4    d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN  ...  NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN  ...  NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN  ...  NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]

In [99]:
weather_melt = pd.melt(weather, id_vars=['id', 'year', 'month', 'element'], var_name='day', value_name='temp')
print(weather_melt.head())

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

# pivot_table 메서드
 - 행과 열의 위치를 다시 바꿔 정리해준다.
 - index 인자에는 위치를 그대로 유지할 열 이름을 지정한다.
 - columns 인자에는 피벗할 열 이름을 지정한다.
 - values value에 채우고자 하는 컬럼

In [105]:
weather_tidy = weather_melt.pivot_table(
    index = ['id', 'year', 'month', 'day'],
    columns = 'element',
    values = 'temp',
    dropna = False
)

print(weather_tidy)

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
...                      ...   ...
             12    d5    NaN   NaN
                   d6   27.8  10.5
                   d7    NaN   NaN
                   d8    NaN   NaN
                   d9    NaN   NaN

[341 rows x 2 columns]

# reset_index 메서드를 이용하여 인덱스 새로 지정

In [106]:
weather_tidy_flat = weather_tidy.reset_index()
print(weather_tidy_flat.head())

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN

# 빌보드 차트의 중복 데이터 처리하기 (drop_duplicates())

In [125]:
billboard = pd.read_csv('../data/billboard.csv')
print(billboard)

     year            artist                    track  time date.entered  wk1  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08   81
3    2000      3 Doors Down                    Loser  4:24   2000-10-21   76
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15   57
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29   86
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01   85
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18   95
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02   99
316  2000   matchbox twenty                     Bent  4:12   2000-04-29   60

      wk2   wk3   wk4   wk5  ...  wk67  wk68  wk69  wk70  wk71  wk72  wk73  \
0    82.0  72.0  77.0  87.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1    87.0  92.0   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2    70.0  68.0  67.0  66.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3    76.0  72.0  69.0  67.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    34.0  25.0  17.0  17.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
..    ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...   ...
312  83.0  77.0  74.0  83.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
313  83.0  83.0  82.0  81.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
314  94.0  91.0  85.0  84.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
315  99.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
316  37.0  29.0  24.0  22.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

     wk74  wk75  wk76
0     NaN   NaN   NaN
1     NaN   NaN   NaN
2     NaN   NaN   NaN
3     NaN   NaN   NaN
4     NaN   NaN   NaN
..    ...   ...   ...
312   NaN   NaN   NaN
313   NaN   NaN   NaN
314   NaN   NaN   NaN
315   NaN   NaN   NaN
316   NaN   NaN   NaN

[317 rows x 81 columns]

In [126]:
billboard_melt = billboard.melt(id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating')
print(billboard_melt)
print(billboard_melt.head())
print(billboard_melt.shape)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
...     ...     ...
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]
   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0
(24092, 7)

In [127]:
print(billboard_melt[billboard_melt['track'] == 'Loser'].head())

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

In [128]:
print(billboard_melt.columns)

Index(['year', 'artist', 'track', 'time', 'date.entered', 'week', 'rating'], dtype='object')

### 중복데이터가 가지고 있는 열은 year, artist, track, time, date이다.
### 이 열을 따로 모아 새로운 데이터 프레임을 생성한다.

In [129]:
billboard_dup = billboard_melt[['year', 'artist', 'track', 'time', 'date.entered']]
print(billboard_dup)
print(billboard_dup.shape)

       year            artist                    track  time date.entered
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

[24092 rows x 5 columns]
(24092, 5)

In [130]:
billboard_dup = billboard_dup.drop_duplicates()
print(billboard_dup)
print(billboard_dup.shape)

     year            artist                    track  time date.entered
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3    2000      3 Doors Down                    Loser  4:24   2000-10-21
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
..    ...               ...                      ...   ...          ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
316  2000   matchbox twenty                     Bent  4:12   2000-04-29

[317 rows x 5 columns]
(317, 5)

### 중복을 제거한 데이터프레임에 id도 추가한다.

In [134]:
billboard_dup['id'] = range(len(billboard_dup))
print(billboard_dup)

     year            artist                    track  time date.entered   id
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26    0
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02    1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08    2
3    2000      3 Doors Down                    Loser  4:24   2000-10-21    3
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15    4
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  312
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  313
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  314
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  315
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  316

[317 rows x 6 columns]

### urllib.request.urlretrieve(url, 저장할 파일 경로)
- urllib : Http,Ftp 프로토콜을 통해서 다운받고 사용할수 있게 도와주는 라이브러리

- request모듈: 웹사이트에 있는 데이터에 접근하게 해주는 모듈

- urlretrieve함수: 웹상에 자료를 다운로드 할수 있게 도와주는 함수

# 뉴욕 택시 데이터 준비

### os.path.join(dir_path, file name)으로 인자를 전달하면 디렉토리 경로에 파일 이름을 조합하고 그 path를 리턴합니다.

In [6]:
import os
import urllib.request

with open('../data/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line == 5:
            break
        fn = url.split('/')[-1].strip()
        fp = os.path.join('','../data',fn)
        print('url : ',url)
        print('fp : ', fp)
        urllib.request.urlretrieve(url, fp)

url :  https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

fp :  ../data\fhv_tripdata_2015-01.csv

HTTPError: HTTP Error 403: Forbidden

In [8]:
import requests

with open('../data/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line == 5:
            break
        fn = url.split('/')[-1].strip()
        fp = os.path.join('../data', fn)
        print('fn', fn)
        print('fp', fp)
        r = requests.get(url)
        with open(fp, 'wb') as outFile:
            outFile.write(r.content)

fn fhv_tripdata_2015-01.csv
fp ../data\fhv_tripdata_2015-01.csv
fn fhv_tripdata_2015-02.csv
fp ../data\fhv_tripdata_2015-02.csv
fn fhv_tripdata_2015-03.csv
fp ../data\fhv_tripdata_2015-03.csv
fn fhv_tripdata_2015-04.csv
fp ../data\fhv_tripdata_2015-04.csv
fn fhv_tripdata_2015-05.csv
fp ../data\fhv_tripdata_2015-05.csv
fn fhv_tripdata_2015-06.csv
fp ../data\fhv_tripdata_2015-06.csv
fn fhv_tripdata_2015-07.csv
fp ../data\fhv_tripdata_2015-07.csv
fn fhv_tripdata_2015-08.csv
fp ../data\fhv_tripdata_2015-08.csv
fn fhv_tripdata_2015-09.csv
fp ../data\fhv_tripdata_2015-09.csv
fn fhv_tripdata_2015-10.csv
fp ../data\fhv_tripdata_2015-10.csv
fn fhv_tripdata_2015-11.csv
fp ../data\fhv_tripdata_2015-11.csv
fn fhv_tripdata_2015-12.csv
fp ../data\fhv_tripdata_2015-12.csv
fn fhv_tripdata_2016-01.csv
fp ../data\fhv_tripdata_2016-01.csv
fn fhv_tripdata_2016-02.csv
fp ../data\fhv_tripdata_2016-02.csv
fn fhv_tripdata_2016-03.csv
fp ../data\fhv_tripdata_2016-03.csv
fn fhv_tripdata_2016-04.csv
fp ../data\fhv_tripdata_2016-04.csv
fn fhv_tripdata_2016-05.csv
fp ../data\fhv_tripdata_2016-05.csv
fn fhv_tripdata_2016-06.csv
fp ../data\fhv_tripdata_2016-06.csv
fn fhv_tripdata_2016-07.csv
fp ../data\fhv_tripdata_2016-07.csv
fn fhv_tripdata_2016-08.csv
fp ../data\fhv_tripdata_2016-08.csv
fn fhv_tripdata_2016-09.csv
fp ../data\fhv_tripdata_2016-09.csv
fn fhv_tripdata_2016-10.csv
fp ../data\fhv_tripdata_2016-10.csv
fn fhv_tripdata_2016-11.csv
fp ../data\fhv_tripdata_2016-11.csv
fn fhv_tripdata_2016-12.csv
fp ../data\fhv_tripdata_2016-12.csv
fn green_tripdata_2013-08.csv
fp ../data\green_tripdata_2013-08.csv
fn green_tripdata_2013-09.csv
fp ../data\green_tripdata_2013-09.csv
fn green_tripdata_2013-10.csv
fp ../data\green_tripdata_2013-10.csv
fn green_tripdata_2013-11.csv
fp ../data\green_tripdata_2013-11.csv
fn green_tripdata_2013-12.csv
fp ../data\green_tripdata_2013-12.csv
fn green_tripdata_2014-01.csv
fp ../data\green_tripdata_2014-01.csv
fn green_tripdata_2014-02.csv
fp ../data\green_tripdata_2014-02.csv
fn green_tripdata_2014-03.csv
fp ../data\green_tripdata_2014-03.csv
fn green_tripdata_2014-04.csv
fp ../data\green_tripdata_2014-04.csv
fn green_tripdata_2014-05.csv
fp ../data\green_tripdata_2014-05.csv
fn green_tripdata_2014-06.csv
fp ../data\green_tripdata_2014-06.csv
fn green_tripdata_2014-07.csv
fp ../data\green_tripdata_2014-07.csv
fn green_tripdata_2014-08.csv
fp ../data\green_tripdata_2014-08.csv
fn green_tripdata_2014-09.csv
fp ../data\green_tripdata_2014-09.csv
fn green_tripdata_2014-10.csv
fp ../data\green_tripdata_2014-10.csv
fn green_tripdata_2014-11.csv
fp ../data\green_tripdata_2014-11.csv
fn green_tripdata_2014-12.csv
fp ../data\green_tripdata_2014-12.csv
fn green_tripdata_2015-01.csv
fp ../data\green_tripdata_2015-01.csv
fn green_tripdata_2015-02.csv
fp ../data\green_tripdata_2015-02.csv
fn green_tripdata_2015-03.csv
fp ../data\green_tripdata_2015-03.csv
fn green_tripdata_2015-04.csv
fp ../data\green_tripdata_2015-04.csv
fn green_tripdata_2015-05.csv
fp ../data\green_tripdata_2015-05.csv
fn green_tripdata_2015-06.csv
fp ../data\green_tripdata_2015-06.csv
fn green_tripdata_2015-07.csv
fp ../data\green_tripdata_2015-07.csv
fn green_tripdata_2015-08.csv
fp ../data\green_tripdata_2015-08.csv
fn green_tripdata_2015-09.csv
fp ../data\green_tripdata_2015-09.csv
fn green_tripdata_2015-10.csv
fp ../data\green_tripdata_2015-10.csv
fn green_tripdata_2015-11.csv
fp ../data\green_tripdata_2015-11.csv
fn green_tripdata_2015-12.csv
fp ../data\green_tripdata_2015-12.csv
fn green_tripdata_2016-01.csv
fp ../data\green_tripdata_2016-01.csv
fn green_tripdata_2016-02.csv
fp ../data\green_tripdata_2016-02.csv
fn green_tripdata_2016-03.csv
fp ../data\green_tripdata_2016-03.csv
fn green_tripdata_2016-04.csv
fp ../data\green_tripdata_2016-04.csv
fn green_tripdata_2016-05.csv
fp ../data\green_tripdata_2016-05.csv
fn green_tripdata_2016-06.csv
fp ../data\green_tripdata_2016-06.csv
fn green_tripdata_2016-07.csv
fp ../data\green_tripdata_2016-07.csv
fn green_tripdata_2016-08.csv
fp ../data\green_tripdata_2016-08.csv
fn green_tripdata_2016-09.csv
fp ../data\green_tripdata_2016-09.csv
fn green_tripdata_2016-10.csv
fp ../data\green_tripdata_2016-10.csv
fn green_tripdata_2016-11.csv
fp ../data\green_tripdata_2016-11.csv
fn green_tripdata_2016-12.csv
fp ../data\green_tripdata_2016-12.csv
fn yellow_tripdata_2009-01.csv
fp ../data\yellow_tripdata_2009-01.csv
fn yellow_tripdata_2009-02.csv
fp ../data\yellow_tripdata_2009-02.csv
fn yellow_tripdata_2009-03.csv
fp ../data\yellow_tripdata_2009-03.csv
fn yellow_tripdata_2009-04.csv
fp ../data\yellow_tripdata_2009-04.csv
fn yellow_tripdata_2009-05.csv
fp ../data\yellow_tripdata_2009-05.csv
fn yellow_tripdata_2009-06.csv
fp ../data\yellow_tripdata_2009-06.csv
fn yellow_tripdata_2009-07.csv
fp ../data\yellow_tripdata_2009-07.csv
fn yellow_tripdata_2009-08.csv
fp ../data\yellow_tripdata_2009-08.csv
fn yellow_tripdata_2009-09.csv
fp ../data\yellow_tripdata_2009-09.csv
fn yellow_tripdata_2009-10.csv
fp ../data\yellow_tripdata_2009-10.csv
fn yellow_tripdata_2009-11.csv
fp ../data\yellow_tripdata_2009-11.csv
fn yellow_tripdata_2009-12.csv
fp ../data\yellow_tripdata_2009-12.csv
fn yellow_tripdata_2010-01.csv
fp ../data\yellow_tripdata_2010-01.csv
fn yellow_tripdata_2010-02.csv
fp ../data\yellow_tripdata_2010-02.csv
fn yellow_tripdata_2010-03.csv
fp ../data\yellow_tripdata_2010-03.csv
fn yellow_tripdata_2010-04.csv
fp ../data\yellow_tripdata_2010-04.csv
fn yellow_tripdata_2010-05.csv
fp ../data\yellow_tripdata_2010-05.csv
fn yellow_tripdata_2010-06.csv
fp ../data\yellow_tripdata_2010-06.csv
fn yellow_tripdata_2010-07.csv
fp ../data\yellow_tripdata_2010-07.csv
fn yellow_tripdata_2010-08.csv
fp ../data\yellow_tripdata_2010-08.csv
fn yellow_tripdata_2010-09.csv
fp ../data\yellow_tripdata_2010-09.csv
fn yellow_tripdata_2010-10.csv
fp ../data\yellow_tripdata_2010-10.csv
fn yellow_tripdata_2010-11.csv
fp ../data\yellow_tripdata_2010-11.csv
fn yellow_tripdata_2010-12.csv
fp ../data\yellow_tripdata_2010-12.csv
fn yellow_tripdata_2011-01.csv
fp ../data\yellow_tripdata_2011-01.csv
fn yellow_tripdata_2011-02.csv
fp ../data\yellow_tripdata_2011-02.csv
fn yellow_tripdata_2011-03.csv
fp ../data\yellow_tripdata_2011-03.csv
fn yellow_tripdata_2011-04.csv
fp ../data\yellow_tripdata_2011-04.csv
fn yellow_tripdata_2011-05.csv
fp ../data\yellow_tripdata_2011-05.csv
fn yellow_tripdata_2011-06.csv
fp ../data\yellow_tripdata_2011-06.csv
fn yellow_tripdata_2011-07.csv
fp ../data\yellow_tripdata_2011-07.csv
fn yellow_tripdata_2011-08.csv
fp ../data\yellow_tripdata_2011-08.csv
fn yellow_tripdata_2011-09.csv
fp ../data\yellow_tripdata_2011-09.csv
fn yellow_tripdata_2011-10.csv
fp ../data\yellow_tripdata_2011-10.csv
fn yellow_tripdata_2011-11.csv
fp ../data\yellow_tripdata_2011-11.csv
fn yellow_tripdata_2011-12.csv
fp ../data\yellow_tripdata_2011-12.csv
fn yellow_tripdata_2012-01.csv
fp ../data\yellow_tripdata_2012-01.csv
fn yellow_tripdata_2012-02.csv
fp ../data\yellow_tripdata_2012-02.csv
fn yellow_tripdata_2012-03.csv
fp ../data\yellow_tripdata_2012-03.csv
fn yellow_tripdata_2012-04.csv
fp ../data\yellow_tripdata_2012-04.csv
fn yellow_tripdata_2012-05.csv
fp ../data\yellow_tripdata_2012-05.csv
fn yellow_tripdata_2012-06.csv
fp ../data\yellow_tripdata_2012-06.csv
fn yellow_tripdata_2012-07.csv
fp ../data\yellow_tripdata_2012-07.csv
fn yellow_tripdata_2012-08.csv
fp ../data\yellow_tripdata_2012-08.csv
fn yellow_tripdata_2012-09.csv
fp ../data\yellow_tripdata_2012-09.csv
fn yellow_tripdata_2012-10.csv
fp ../data\yellow_tripdata_2012-10.csv
fn yellow_tripdata_2012-11.csv
fp ../data\yellow_tripdata_2012-11.csv
fn yellow_tripdata_2012-12.csv
fp ../data\yellow_tripdata_2012-12.csv
fn yellow_tripdata_2013-01.csv
fp ../data\yellow_tripdata_2013-01.csv
fn yellow_tripdata_2013-02.csv
fp ../data\yellow_tripdata_2013-02.csv
fn yellow_tripdata_2013-03.csv
fp ../data\yellow_tripdata_2013-03.csv
fn yellow_tripdata_2013-04.csv
fp ../data\yellow_tripdata_2013-04.csv
fn yellow_tripdata_2013-05.csv
fp ../data\yellow_tripdata_2013-05.csv
fn yellow_tripdata_2013-06.csv
fp ../data\yellow_tripdata_2013-06.csv
fn yellow_tripdata_2013-07.csv
fp ../data\yellow_tripdata_2013-07.csv
fn yellow_tripdata_2013-08.csv
fp ../data\yellow_tripdata_2013-08.csv

fn yellow_tripdata_2013-09.csv
fp ../data\yellow_tripdata_2013-09.csv
fn yellow_tripdata_2013-10.csv
fp ../data\yellow_tripdata_2013-10.csv
fn yellow_tripdata_2013-11.csv
fp ../data\yellow_tripdata_2013-11.csv
fn yellow_tripdata_2013-12.csv
fp ../data\yellow_tripdata_2013-12.csv
fn yellow_tripdata_2014-01.csv
fp ../data\yellow_tripdata_2014-01.csv
fn yellow_tripdata_2014-02.csv
fp ../data\yellow_tripdata_2014-02.csv
fn yellow_tripdata_2014-03.csv
fp ../data\yellow_tripdata_2014-03.csv
fn yellow_tripdata_2014-04.csv
fp ../data\yellow_tripdata_2014-04.csv
fn yellow_tripdata_2014-05.csv
fp ../data\yellow_tripdata_2014-05.csv
fn yellow_tripdata_2014-06.csv
fp ../data\yellow_tripdata_2014-06.csv
fn yellow_tripdata_2014-07.csv
fp ../data\yellow_tripdata_2014-07.csv
fn yellow_tripdata_2014-08.csv
fp ../data\yellow_tripdata_2014-08.csv
fn yellow_tripdata_2014-09.csv
fp ../data\yellow_tripdata_2014-09.csv
fn yellow_tripdata_2014-10.csv
fp ../data\yellow_tripdata_2014-10.csv
fn yellow_tripdata_2014-11.csv
fp ../data\yellow_tripdata_2014-11.csv
fn yellow_tripdata_2014-12.csv
fp ../data\yellow_tripdata_2014-12.csv
fn yellow_tripdata_2015-01.csv
fp ../data\yellow_tripdata_2015-01.csv
fn yellow_tripdata_2015-02.csv
fp ../data\yellow_tripdata_2015-02.csv
fn yellow_tripdata_2015-03.csv
fp ../data\yellow_tripdata_2015-03.csv
fn yellow_tripdata_2015-04.csv
fp ../data\yellow_tripdata_2015-04.csv
fn yellow_tripdata_2015-05.csv
fp ../data\yellow_tripdata_2015-05.csv
fn yellow_tripdata_2015-06.csv
fp ../data\yellow_tripdata_2015-06.csv
fn yellow_tripdata_2015-07.csv
fp ../data\yellow_tripdata_2015-07.csv
fn yellow_tripdata_2015-08.csv
fp ../data\yellow_tripdata_2015-08.csv
fn yellow_tripdata_2015-09.csv
fp ../data\yellow_tripdata_2015-09.csv
fn yellow_tripdata_2015-10.csv
fp ../data\yellow_tripdata_2015-10.csv
fn yellow_tripdata_2015-11.csv
fp ../data\yellow_tripdata_2015-11.csv
fn yellow_tripdata_2015-12.csv
fp ../data\yellow_tripdata_2015-12.csv
fn yellow_tripdata_2016-01.csv
fp ../data\yellow_tripdata_2016-01.csv
fn yellow_tripdata_2016-02.csv
fp ../data\yellow_tripdata_2016-02.csv
fn yellow_tripdata_2016-03.csv
fp ../data\yellow_tripdata_2016-03.csv
fn yellow_tripdata_2016-04.csv
fp ../data\yellow_tripdata_2016-04.csv
fn yellow_tripdata_2016-05.csv
fp ../data\yellow_tripdata_2016-05.csv
fn yellow_tripdata_2016-06.csv
fp ../data\yellow_tripdata_2016-06.csv
fn yellow_tripdata_2016-07.csv
fp ../data\yellow_tripdata_2016-07.csv
fn yellow_tripdata_2016-08.csv
fp ../data\yellow_tripdata_2016-08.csv
fn yellow_tripdata_2016-09.csv
fp ../data\yellow_tripdata_2016-09.csv
fn yellow_tripdata_2016-10.csv
fp ../data\yellow_tripdata_2016-10.csv
fn yellow_tripdata_2016-11.csv
fp ../data\yellow_tripdata_2016-11.csv
fn yellow_tripdata_2016-12.csv
fp ../data\yellow_tripdata_2016-12.csv

### glob 라이브러리에 포함된 glob메서드는 특정한 패턴의 이름을 가진 파일을 한 번에 읽어 들일 수 있다.
### 폴더에서 fhv_로 시작하는 파일들의 데이터를 한번에 불러들이기
- ex) import glob
-     nyc_taxi_data = glob.glob('../data/fhv_*')
-     print(nyc_taxi_data)
- ********************************************
- output) ['../data\\fhv_tropdata_2015)01.csv',
-          '../data\\fhv_tropdata_2015)02.csv',
-           '../data\\fhv_tropdata_2015)03.csv',
-           '../data\\fhv_tropdata_2015)04.csv',
-           '../data\\fhv_tropdata_2015)05.csv']

### 그럼다음 각각의 파일을 데이터 프레임으로 pandas를 이용하여 넣어준다.
- taxi1 = pd.read.csv(nyc_taxi_data[0])
- taxi2 = pd.read.csv(nyc_taxi_data[1])
- taxi3 = pd.read.csv(nyc_taxi_data[2])
- taxi4 = pd.read.csv(nyc_taxi_data[3])
- taxi5 = pd.read.csv(nyc_taxi_data[4])

# 반복문으로 데이터 준비하기