# dtypes 속성으로 데이터프레임의 자료형 살펴보기
- 카테고리는 문자열로 변환해야 데이터 분석을 더 수월하게 할 수 있다.
- 예를 들어 전화번호로 평균을 구하거나 더하지 않기 때문에 오히려 문자열처럼 다루는 경우가 더 많다.

In [1]:
import pandas as pd
import seaborn as sns

In [4]:
tips = sns.load_dataset("tips")
print(tips)
print(tips.columns)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

# 여러 가지 자료형을 문자열로 변환하기
- 자료형을 변환하려면 astype 메서드를 사용하면 된다.

In [9]:
tips['sex_str'] = tips['sex'].astype(str)
print(type(tips['sex_str'][0]))

<class 'str'>

# dtypes를 사용하면 각 항목의 데이터 타입을 확인할 수 있다.

In [10]:
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

# 자료형을 변환한 데이터 다시 원래대로 만들기

In [13]:
tips['total_bill'] = tips['total_bill'].astype(str)
print(tips.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [15]:
tips['total_bill'] = tips['total_bill'].astype(float)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

# 잘못 입력한 문자열 처리하기
- to_numberic 메서드를 사용한다.

In [43]:
tip_sub_miss = tips.head(10)
print(tip_sub_miss)

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1       10.34  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3       23.68  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female
5       25.29  4.71    Male     No  Sun  Dinner     4    Male
6        8.77  2.00    Male     No  Sun  Dinner     2    Male
7       26.88  3.12    Male     No  Sun  Dinner     4    Male
8       15.04  1.96    Male     No  Sun  Dinner     2    Male
9       14.78  3.23    Male     No  Sun  Dinner     2    Male

In [44]:
tip_sub_miss.loc[[1,3,5,7], 'total_bill'] = 'missing'
print(tip_sub_miss)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

C:\Users\admin\AppData\Local\Temp\ipykernel_35348\628007776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tip_sub_miss.loc[[1,3,5,7], 'total_bill'] = 'missing'

In [45]:
print(tip_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

# to_numeric
- to_numberic 메서드 errors 인자에 raise, coerce, ignore를 지정하여 오류를 어느정도 제어할 수 있다.

# errors 인자에 설정할 수 있는 값
# raise
-  숫자를 변환살 수 없는 값이 있으면 오류 발생

# coerce
- 숫자로 변활할 수 없는 값을 누락값으로 지정

# ignore
- 아무 작업도 하지 않음


# ignore
- 아무 작업도 하지 않음

In [46]:
tip_sub_miss['total_bill'] = pd.to_numeric(tip_sub_miss['total_bill'], errors='ignore')
print(tip_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\admin\AppData\Local\Temp\ipykernel_35348\3710619896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tip_sub_miss['total_bill'] = pd.to_numeric(tip_sub_miss['total_bill'], errors='ignore')

# coerce
- 숫자로 변활할 수 없는 값을 누락값으로 지정
- 자료형은 실수로 바뀐다.

In [49]:
tip_sub_miss['total_bill'] = pd.to_numeric(tip_sub_miss['total_bill'], errors='coerce')
print(tip_sub_miss.dtypes)
print(tip_sub_miss)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object
   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1         NaN  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3         NaN  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female
5         NaN  4.71    Male     No  Sun  Dinner     4    Male
6        8.77  2.00    Male     No  Sun  Dinner     2    Male
7         NaN  3.12    Male     No  Sun  Dinner     4    Male
8       15.04  1.96    Male     No  Sun  Dinner     2    Male
9       14.78  3.23    Male     No  Sun  Dinner     2    Male

C:\Users\admin\AppData\Local\Temp\ipykernel_35348\2267446293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tip_sub_miss['total_bill'] = pd.to_numeric(tip_sub_miss['total_bill'], errors='coerce')

# downcast
- 정수, 실수와 같은 자료형을 더 작은 형태로 만들 때 사용하는데 이를 다운캐스트라고 한다.
- downcast인자에는 integer, signed, unsigned, float 등의 값을 사용할 수 있다.
- float64를loat32로 downcast를 하고 메모리 공간을 1/2로 줄인다.
- 만약 저장하는 실수의 예상 범위가 크지 않다면 다운 캐스트를 하는게 좋다.

In [50]:
tip_sub_miss['total_bill'] = pd.to_numeric(tip_sub_miss['total_bill'], errors='coerce', downcast = 'float')
print(tip_sub_miss)

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1         NaN  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3         NaN  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female
5         NaN  4.71    Male     No  Sun  Dinner     4    Male
6        8.77  2.00    Male     No  Sun  Dinner     2    Male
7         NaN  3.12    Male     No  Sun  Dinner     4    Male
8       15.04  1.96    Male     No  Sun  Dinner     2    Male
9       14.78  3.23    Male     No  Sun  Dinner     2    Male

C:\Users\admin\AppData\Local\Temp\ipykernel_35348\2681917580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tip_sub_miss['total_bill'] = pd.to_numeric(tip_sub_miss['total_bill'], errors='coerce', downcast = 'float')

In [53]:
print(tip_sub_miss.dtypes)

total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

# 문자열을 카테고리로 변환하기
- 카테고리 자료형의 장점과 특징은 용량과 속도 면에서 매우 효율적이다.
- 주로 동일한 문자열이 반복되어 데이터를 구성하는 경우에 사용한다.

In [56]:
tips['sex'] = tips['sex'].astype('str')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB
None

In [57]:
tips['sex'] = tips['sex'].astype('category')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB
None

### str -> category 형변환을 했을 때 info()로 확인을 해보면 memory가 줄어드는걸 알 수 있다.